@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* ekhane amra ekta font & ekta custom color add korechi */
@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #00d991;
}
@layer base {
  /* ekhane amra html tag ar jonno kichu css class add korechi */
  html {
    @apply transition-colors duration-300;
  }

  /* ekhane amra body tag ar jonno kichu css class add korechi */
  body {
    @apply bg-white text-gray-900 dark:bg-[#171923] dark:text-white;
  }

  /* ekhane amra container class ar jonno kichu css class add korechi */
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
